 
<div class="row">
<div class="col-lx-12 col-md-12 box panel panel-default">
<h1>Заказы</h1>

 
    <% @orders.each do |order| %>
        <p><%= order.created_at.strftime("%m-%d-%Y") %></p>
        <p><%= order.fio %></p>
        <p><%= order.address %></p>
        <p><%= order.index %></p>
        <p><%= order.phone %></p>
        <p><%= order.email %></p>
        <p><%= order.price %></p>
        <p><%= link_to 'Show', order %></p>
        <p><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Удалить насовсем?' } %></p>
    <% end %>

</div>
</div>
 
