#pic_show.row
	.col-md-6.col-md-offset-1
		.panel.panel-default
			.panel.heading.pic_image
				= image_tag @pic.image.url(:lg)
			.panel-body
				%h1= @pic.title
				%p= simple_format @pic.description
			.panel-footer
				.row
					.col-md-6
						%p.user
							- if @pic.for_sale
								цена: 
								= @pic.price
								руб.
					.col-md-6
						.btn-group.pull-right
							- if user_signed_in?
								- if current_user.is_admin
									= link_to "Изменить", edit_pic_path, class: "btn btn-info"
									= link_to "Удалить", pic_path, method: :delete, data: { confirm: "Удалить безвозвратно?" }, class: "btn btn-danger"
							- else
								- if @pic.for_sale
									= link_to "Выбрать", add_pic_path(@random_post)

	#random_post
		.col-md-4.col-md-offset-1
			%h3 
				*********************
				.panel.panel-default
					.panel.heading.pic_image
						= link_to (image_tag @random_post.image.url(:medium)), pic_path(@random_post)
					.panel_body
						%h2= link_to @random_post.title, pic_path(@random_post)
						%p= simple_format @random_post.description
					 
				
			.panel-footer
				.row
					.col-md-6
						%p.user
							- if @random_post.for_sale
								цена: 
								= @random_post.price
								руб.


					.col-md-6
						.btn-group.pull-right
							- if user_signed_in?
								- if current_user.is_admin
									%h2= link_to "&#8986;".html_safe, pic_path(@random_post)
							- else
								- if @random_post.for_sale
									= link_to "Выбрать", add_pic_path(@random_post)


