
<% if @cart %>

<% total = 0 %>

<div style="margin-top: 15px;" class='cart'>
<% @cart.each do | id, quantity | %>
  <% product = Pic.find_by_id(id) %>
  
   <p> <%= quantity %> <span id='product_in_cart'><%= link_to product.title, product %></span>
     <%= product.price * quantity %> Руб.</p>
  

  <% total += quantity * product.price %>
  <% end %>

</div>
<p class="total"><b>
Итого: <%= total %> Руб.</b>
</p>
<% end %>

<% if @cart %>
<% if @cart.empty? %>
  <p>Выберите товар</p>
  <% else %>
<%= link_to 'Очистить', pics_clear_path %>
<% end %>

<% end %>