!!! 5
%html
%head
	%title Омский виноград
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Омский виноград", root_path, style: "color: #ecf0f1 !important;"
		
			- if user_signed_in?
				- if current_user.is_admin
					%ul.nav.navbar-nav.navbar-left
						%li= link_to "Создать", new_pic_path
						%li= link_to "Выйти", destroy_user_session_path, method: :delete

			- else
				%ul.nav.navbar-nav.navbar-left
					%li= link_to "Контакты", "#"
				%ul.nav.navbar-nav.navbar-right
					#cart
						%li
	
	.container
		.row
			.col-md-10.col-md-offset-2
				%ul.list-inline				
					- Category.all.each do |category|
						%li= link_to category.name, pics_path(category: category.name), id: "category"
	.container
		-flash.each do |name, msg|
			=content_tag :div, msg, class: "alert alert-info"

		= yield

	